@{
    ViewData["Title"] = "О сайте";
}

<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-7 col-12">
        <h2 class="mb-3">
            Информация о сайте
        </h2>
        <p>
            Этот сайт был разработан за один день специально для чего-то там я не знаю даже мне просто сказали сделать сайт ну и вот вроде готово.
            Повторяю еще раз. Этот сайт был разработан за один день специально для чего-то там я не знаю даже мне просто сказали сделать сайт ну и вот вроде готово. 
            Повторяю еще раз. Этот сайт был разработан за один день специально для чего-то там я не знаю даже мне просто сказали сделать сайт ну и вот вроде готово.
        </p>
        <h3 class="mb-3">
            Наши контакты
        </h3>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="mb-3">
                    Где нас найти
                </h5>
                <iframe style="border:0; width: 100%; height: 450px; margin-bottom: 15px;" loading="lazy"
                    src="https://www.google.com/maps/embed/v1/search?q=Comforia%20Shinjuku%20Eastside%20Tower%2C%206%20Chome-27-29%20Shinjuku%2C%20Shinjuku%20City%2C%20Tokyo%2C%20Japan&key=AIzaSyDQDxI8GNLb4se-WGNVvRQ7nZwjUpRXpIU">
                </iframe> 
            </div>
            <div class="col-md-4 col-sm-12">
                <h5 class="mb-3">
                    Обратная связь
                </h5>
                <p>
                    <b>Email</b>: @("admin@nerv.com")
                </p>
                <p>
                    <b>Телефон</b>: (423) 666-67-67
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 col-6">
        <h3 class="mb-4">
            Авторы сайта
        </h3>
        <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="text-center">
                <img style="width: 88%; margin-top: 6%; border: 1px solid #c0c0c0; border-radius: 3px;" src="~/img/kamisama.jpg" />
            </div>
            <div class="card-body text-center">
                <h4>@("@owlhowl")</h4>
                <p class="card-text">Единственный разработчик в мире</p>
                <div>
                    <a class="btn btn-sm btn-outline-secondary mb-1" href="https://github.com/owlhowl">Github</a>
                    <a class="btn btn-sm btn-outline-secondary mb-1" href="https://t.me/owlhowl">Telegram</a>
                    <a class="btn btn-sm btn-outline-secondary mb-1" href="#">Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>