@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="col-md-8 col-sm-12">
        <h1 class="mb-4 text-center">
            Добро пожаловать!
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-12" style="text-align: justify;">
        <p>
            <strong>Nerv</strong> (ネルフ, <i>Неруфу</i>, с нем. «нерв») — военизированное специальное учреждение, номинально находящимся под контролем Организации Объединённых Наций. Официальная цель Nerv состоит в том, чтобы возглавить защиту человечества против Ангелов и остановить их от инициирования Третьего удара после разрушений, вызванных Адамом во время Второго удара в 2000 году, с помощью Евангелионов, которые были построены этой организацией. Nerv возглавляет командующий Гэндо Икари. Однако, основная задача Nerv состоит в инициации проекта совершенствования человечества. 
        </p>
        <p>
            Официально Nerv является частной организацией, находящейся под непосредственным контролем Организации Объединённых Наций и имеющей ограниченные полномочия в отношении местной администрации и, в определённой степени, в отношении вооружённых сил Организации Объединённых Наций. Однако Nerv по существу независим от Организации Объединённых Наций, помимо вопросов финансирования. В результате неспособности обычных вооруженных сил бороться с Ангелами стратегия сражения часто оставляется на усмотрение высшего командного состава Nerv без какого-либо прямого внешнего вмешательства. 
        </p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <figure class="figure mt-2" style="border: 1px #e0e0e0 solid; padding: 15px; border-radius: 5px;">
            <img src="~/img/logo-big.png" class="figure-img img-fluid" alt="Logo big">
            <figcaption class="figure-caption">Наш логотип</figcaption>
        </figure>
    </div>
</div>

